.box {
  height: 80%;
  width: 80%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  align-content: center;

  background-color: pink;
  //display: flex;
  //align-items: center;
  //justify-content: center;

  /*.box {
    background-color: var(--white-100);
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
  }*/
}
