.box-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 900px) {
    height: auto;
  }

  .box {
    background-color: var(--white-80);
    width: 80%;
    height: auto;
    box-shadow: 0px 5px 11px -8px rgba(0,0,0,0.69);
    border-radius: 3px;
    @media only screen and (max-width: 900px) {
      height: auto;
    }
  }
}
