.glass {
  background-color: var(--white-100);
  width: 80vw;
  height: 80vh;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 7px 15px -7px rgba(176, 30, 178, 0.301);
  display: grid;
  grid-template-columns: repeat (2, 1fr);
}
