.logo {
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.profile {
  width: 80px;
  height: auto;

  border-radius: 100%;
  display: inline;
  position: absolute;
  left: 190px;
  bottom: -20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  @media only screen and (max-width: 900px) {
    left: 50px;
    bottom: 30px;
  }
}

.links {
  height: 30px;
  width: 30px;
  display: inline-block;

  &.links:hover {
    color: pink;
    -webkit-animation: pulsate-bck 0.7s ease-in-out infinite both;
    animation: pulsate-bck 0.7s ease-in-out infinite both;
    @-webkit-keyframes pulsate-bck {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    @keyframes pulsate-bck {
      0% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  }
}
