:root {
  --white-100: #ffffff;
  --white-90: #f2f2f2;
  --white-80: #f9f9f9;
  --white-60: #e6e6e6;

  --dark-100: #000000;
  --dark-50: #333333;

  --purple-100: #b01eb2;
  --purple-80: #c445c6;
  --purple-60: #f86cfa;
  --purple-10: #d988da;

  // Linear gradients
  --linear-1: rgba(248, 108, 250, 94) 0%;
  --linear-2: rgba(255, 255, 255, 1) 79%;
}
