.header {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .about, .tider {
    align-self: start;
    justify-self: center;
    width: 30ch;
  }

}

.socials {
  //background-color: pink;
  height: auto;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;

  span {
    display: block;
    padding: 0 20px;
  }
}

