.header {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;

  .about, .tider {
    align-self: start;
    justify-self: center;
    width: 30ch;
  }

  .socials {
    background-color: pink;
  }
}

